fastapi
pandas
sqlalchemy
mysql-connector-python
psycopg2-binary
psycopg_binary
pgvector
langchain_postgres
uvicorn
pydantic
pydantic[email]
passlib
pyjwt
python-dotenv
pytest
langchain
langgraph
langchain-openai
langchain-groq
langchain-ollama
langchain-community
autopep8
prettier
coloredlogs
langchain-huggingface
pypdf
python-multipart
alembic