@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Inter', sans-serif;
}

/* prism-atom-dark.css */
.prism {
    background-color: #2f343f;
    color: #f8f8f8;
    padding: 1em;
    border-radius: 0.5em;
  }
  
  .prism .token.comment {
    color: #6c757d;
    font-style: italic;
  }
  
  .prism .token.prolog,
  .prism .token.doctype,
  .prism .token.cdata {
    color: #6c757d;
    font-weight: bold;
  }
  
  .prism .token.punctuation {
    color: #f8f8f8;
  }
  
  .prism .token.namespace {
    color: #66d9ef;
    opacity: 0.8;
  }
  
  .prism .token.property,
  .prism .token.constant,
  .prism .token.symbol {
    color: #f92672;
  }
  
  .prism .token.tag {
    color: #e6db74;
  }
  
  .prism .token.class-name,
  .prism .token.boolean,
  .prism .token.number {
    color: #e6db74;
  }
  
  .prism .token.function {
    color: #a6e22e;
  }
  
  .prism .token.regex,
  .prism .token.attr-value {
    color: #e6db74;
  }
  
  .prism .token.string {
    color: #e6db74;
  }
  
  .prism .token.operator {
    color: #f8f8f8;
  }
  
  .prism .token.entity,
  .prism .token.url {
    color: #66d9ef;
  }
  
  .prism .token.attr-name {
    color: #66d9ef;
    font-style: italic;
  }
  
  .prism .token.keyword {
    color: #66d9ef;
    font-weight: bold;
  }
  
  .prism .token.variable {
    color: #f92672;
  }
  
  .prism .line-numbers {
    background-color: #2f343f;
    border-right: 1px solid #4f4f4f;
    padding: 0.5em;
    text-align: right;
    color: #666;
  }
  
  .prism .line-numbers .line-number {
    padding: 0.5em;
  }